<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    <body>
    <h1>Check the Weather</h1>
    <form method="POST" action="/">
        <input type="text" name="city" placeholder="Enter city name" required>
        <button type="submit">Get Weather</button>
    </form>

    <% if (weather) { %>
        <h2><%= weather %></h2>
    <% } %>

    <% if (error) { %>
        <p style="color:red;"><%= error %></p>
    <% } %>
    </form>
    </body>


</body>
</html>